.showClocDown{

    margin: 20px auto;
    width: 400px;
    height: 100px;
    display: flex;
    text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #2a4dc0;
    color: #1d1f22;
    font-family: Calibri;
    font-size: 45px;
    border-radius: 40px;
    border: 3px solid #15181a;
    
}