.app {
  text-align: center;
}
body {
  background-image: url('./assets/18861.jpg');
  background-color: rgb(131, 131, 124);
  margin: 0;
  padding: 0;
}
.header{
  font-size: 45px;
  padding: 15px 50px 30px;
}
